@model Product
@{

}
<div class="col-xl-4 col-md-6 portfolio-item filter-product element-order-item">
    <div class="portfolio-wrap">
        <a href="#" data-gallery="portfolio-gallery-app" class="glightbox"><img src="@Model.Image" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
            
            <div style="float:left">
                <h4><a href="portfolio-details.html" title="More Details">@Model.Name</a></h4>
                <p>@Model.GetPrice() €</p>
            </div>
            
            <button data-type="Product" data-id="@Model.Id" class="add-command-button" type="submit">Ajouter</button>
        </div>
    </div>
</div>