@model Menu
@{

}
<div class="col-xl-4 col-md-6 portfolio-item filter-app">
    <div class="portfolio-wrap">
        <a href="img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="https://image-placeholder.com/images/actual-size/1024x768.png" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
            <h4><a href="portfolio-details.html" title="More Details">@Model.Name</a></h4>
            <p>@Model.GetPrice() €</p>
        </div>
    </div>
</div>