@model CommandePageViewModel

@{
    ViewData["Title"] = "Home Page";
}



<a href="/Command/ValidateCommand">
<h1>CLICK POUR VALIDER LA COMMANDE</h1>
<h1>CLICK POUR VALIDER LA COMMANDE</h1>
<h1>CLICK POUR VALIDER LA COMMANDE</h1>
<h1>CLICK POUR VALIDER LA COMMANDE</h1>
<h1>CLICK POUR VALIDER LA COMMANDE</h1>
</a>