@model Order

@{
    ViewData["Title"] = "Home Page";
}

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
        <div class="container" data-aos="fade-up">


            <!--
            <div class="section-header">
                <h2>Ma commande</h2>
                <p>Produits dans votre commande</p>
            </div>
        -->

            <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

               
            @{
                int i = 0;
                foreach (Menu item in Model.Menus)
                {
                    <partial name="_PartialMenuBlock.cshtml" model="new KeyValuePair<int, Menu>(i, item)"></partial>
                    i++;
                }
                i = 0;
                foreach (Product item in Model.Products)
                {
                    <partial name="_PartialProductBlock.cshtml" model="new KeyValuePair<int, Product>(i, item)"></partial>
                    i++;
                }
            }
            </div>

        <div class="section-header validate-command-section">
            <h2 class="validate-command-empty d-none">Commande vide</h2>
            <a href="/Command/ValidateCommand"><h2 class="validate-command-ok d-none">Validez votre commande <span class="menu-commande-price"></span>€</h2></a>
        </div>

        </div>
    </section><!-- End Pricing Section -->


